*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 1.6rem;
  font-family: "M PLUS 1p", "Noto Sans JP", sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

img,
video,
object {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  opacity: 0.8;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transtion: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}

.l-header {
  display: none;
}
@media (min-width: 600px) {
  .l-header {
    display: block;
    height: 125px;
  }
}

.c-title {
  letter-spacing: 5px;
  padding-left: 10px;
}

.c-text__info {
  padding-bottom: 15px;
}

.c-menu__priceboard {
  background-color: gainsboro;
  margin: 0 auto;
  padding: 20px;
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-menu__title {
  text-align: left;
  font-size: 2.2rem;
  width: 335px;
}
.c-menu__price {
  text-align: right;
  font-size: 2.2rem;
}

.c-inner {
  margin: 20px 14.5px 0;
}
@media (min-width: 600px) {
  .c-inner {
    margin: 0 110px 20px 310px;
  }
}

.c-address__dl {
  padding: 30px;
  color: white;
  text-align: center;
}
.c-address__title {
  float: left;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.c-address__text {
  font-size: 1.2rem;
  text-align: right;
  padding-bottom: 10px;
}
.c-address__text > a {
  color: white;
}
.c-address__googlemap {
  width: 100%;
  height: 100%;
}
.c-address__inner {
  background-color: black;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .c-address__inner {
    width: 70%;
  }
}
.c-address__inner > small {
  color: white;
}
@media (min-width: 600px) {
  .c-address__div {
    width: 100%;
    height: 500px;
  }
}

.c-table__infoday {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  border-top: 1px solid #807c7c;
  border-bottom: 1px solid #807c7c;
}
@media (min-width: 600px) {
  .c-table__infoday {
    font-size: 2.4rem;
  }
}
.c-table__infoday > tr:first-child, .c-table__infoday > td:first-child {
  line-height: 1.4;
}
.c-table__infoday > tbody > tr > td {
  padding: 10px 10px;
}
@media (min-width: 600px) {
  .c-table__infoday > tbody > tr > td {
    padding: 30px;
  }
}
.c-table__td {
  border-bottom: 1px solid #807c7c;
}

.c-card__img {
  height: 300px;
}
@media (min-width: 600px) {
  .c-card__img {
    width: 761px;
    height: 655px;
  }
}

.c-flex {
  display: flex;
  align-items: center;
  padding: 0 0 25px 15px;
}
@media (min-width: 600px) {
  .c-flex__header {
    display: flex;
  }
}
.c-flex__menuset {
  display: flex;
  justify-content: space-between;
}
.c-flex__reserve {
  display: flex;
}

.c-icon__header {
  width: 52px;
  height: 92px;
  transform: rotate(41deg);
}
.c-icon__scissors {
  width: 35px;
  height: 82px;
}
@media (min-width: 600px) {
  .c-icon__scissors {
    width: 75px;
    height: 176px;
  }
}
.c-icon__pole {
  width: 122px;
  height: 64px;
  margin: 0 -40px 0 -46px;
}
@media (min-width: 600px) {
  .c-icon__pole {
    width: 145px;
    height: 125px;
  }
}
.c-icon__chair {
  width: 69px;
  height: 69px;
}
@media (min-width: 600px) {
  .c-icon__chair {
    width: 145px;
    height: 145px;
  }
}

.c-icon__netreserve, .c-icon__telreserve {
  width: 128px;
  height: 128px;
}
@media (min-width: 600px) {
  .c-icon__netreserve, .c-icon__telreserve {
    display: none;
  }
}

.c-image__right {
  width: 96px;
  height: 171px;
  transform: rotate(-129deg);
}
@media (min-width: 600px) {
  .c-image__right {
    width: 158px;
    height: 281px;
    transform: rotate(-129deg);
  }
}
.c-image__left {
  width: 96px;
  height: 171px;
  transform: rotate(-232deg);
}
@media (min-width: 600px) {
  .c-image__left {
    width: 158px;
    height: 281px;
    transform: rotate(-232deg);
  }
}

.c-name {
  color: white;
  font-size: 3.2rem;
  margin-bottom: 40px;
}
.c-name__last {
  color: white;
  font-size: 3.2rem;
}

.c-price {
  color: white;
  font-size: 3.2rem;
  text-align: right;
  letter-spacing: -13px;
  margin-right: 11px;
  margin-bottom: 40px;
}
.c-price__last {
  color: white;
  font-size: 3.2rem;
  text-align: right;
  letter-spacing: -13px;
  margin-right: -20px;
}

.c-wrapper {
  margin: 10px -14.5px;
  padding: 45px 42px 45px 14px;
  background-color: black;
}

.p-content__info {
  width: 100%;
  padding: 30px 0 20px;
  background-color: #807c7c;
}

.p-mainvisual {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 60px;
}
@media (min-width: 600px) {
  .p-mainvisual {
    height: 800px;
  }
}

.p-businessday {
  margin-bottom: 40px;
}

.p-info {
  margin-bottom: 40px;
}

.p-pricemenu {
  margin-bottom: 40px;
}

.u-span {
  padding-left: 7px;
}
.u-span__last {
  padding-left: 12px;
}
/*# sourceMappingURL=style.css.map */