@charset "UTF-8";
*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 1.6rem;
  font-family: "游ゴシック", "Noto Sans JP", sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  opacity: 0.8;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transtion: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}

.l-footer {
  background-color: #fff019;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
@media (min-width: 600px) {
  .l-footer {
    display: none;
  }
}

.l-header {
  display: none;
}
@media (min-width: 600px) {
  .l-header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
  }
}

.l-main {
  margin-bottom: 145px;
}
@media (min-width: 600px) {
  .l-main {
    margin-bottom: 20px;
  }
}

.c-button__net, .c-button__tel {
  width: 100%;
  border: 2px solid black;
  position: relative;
  z-index: 3;
}

.c-title {
  letter-spacing: 3px;
  padding-left: 10px;
}
.c-title__serviceflow-01, .c-title__serviceflow-02, .c-title__serviceflow-03 {
  margin: 20px 0 15px;
  letter-spacing: 4.5px;
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border-top: 3px solid #000;
  z-index: 0;
}
@media (min-width: 1200px) {
  .c-title__serviceflow-01, .c-title__serviceflow-02, .c-title__serviceflow-03 {
    writing-mode: vertical-rl;
    margin-top: 1px;
    letter-spacing: 16px;
    padding: 1.5rem 8rem 1.5rem 156px;
    font-size: 2.4rem;
  }
}
.c-title__serviceflow-01 span, .c-title__serviceflow-02 span, .c-title__serviceflow-03 span {
  font-size: 40px;
  font-size: 4rem;
  writing-mode: initial;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 1px;
  color: #fff;
  letter-spacing: -10px;
}
.c-title__serviceflow-01::before, .c-title__serviceflow-02::before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: "";
  transform: rotate(25deg);
  background: #000;
}
@media (min-width: 1200px) {
  .c-title__serviceflow-01::before, .c-title__serviceflow-02::before {
    width: 230px;
  }
}
.c-title__serviceflow-03::before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: "";
  transform: rotate(25deg);
  background: #000;
}
@media (min-width: 1200px) {
  .c-title__serviceflow-03::before {
    width: 215px;
  }
}
.c-title__shopname {
  margin: 32px 0 13px 0;
}
.c-title__reserve {
  text-align: center;
  letter-spacing: 7px;
  padding-top: 5px;
}
.c-title__reserve::after {
  content: "";
  width: 3px;
  height: 70px;
  display: inline-block;
  background-color: #000000;
  position: absolute;
  bottom: 14px;
  left: 50%;
}
.c-title__netreserve, .c-title__telreserve {
  font-size: 1.6rem;
  letter-spacing: 10px;
}

.c-text__info {
  padding-bottom: 15px;
}
@media (min-width: 600px) {
  .c-text__info {
    margin-left: 11vw;
  }
}
@media (min-width: 1200px) {
  .c-text__info {
    font-size: 1.6rem;
  }
}
.c-text__address, .c-text__tel {
  letter-spacing: 6px;
  line-height: 2.5;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .c-text__address, .c-text__tel {
    margin: 15px 0;
  }
}
.c-text__netreserve, .c-text__telreserve {
  letter-spacing: 2px;
  text-align: center;
}

.c-text__tategaki {
  display: none;
}
@media (min-width: 600px) {
  .c-text__tategaki {
    display: block;
    position: absolute;
    font-size: 1.6rem;
    left: 1.5vw;
    writing-mode: vertical-rl;
    font-family: "Hannari";
    white-space: nowrap;
    top: 70px;
    letter-spacing: 3px;
  }
}
@media (min-width: 1200px) {
  .c-text__tategaki {
    position: absolute;
    left: 95px;
    writing-mode: vertical-rl;
    font-family: "Hannari";
    white-space: nowrap;
    top: 130px;
    letter-spacing: 1px;
  }
}

.c-menu__priceboard {
  background-color: gainsboro;
  margin: 0 auto;
  padding: 20px;
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-menu__title {
  text-align: left;
  font-size: 2.2rem;
  width: 335px;
}
.c-menu__price {
  text-align: right;
  font-size: 2.2rem;
}

.c-inner {
  margin: 20px 14.5px 0;
}
@media (min-width: 600px) {
  .c-inner {
    margin: 0;
  }
}
@media (min-width: 600px) {
  .c-inner__whole {
    margin: 0 2.8% 0 8.6%;
  }
}
@media (min-width: 1200px) {
  .c-inner__whole {
    margin: 0 5.7% 0 17.2%;
  }
}

@media (min-width: 1200px) {
  .c-address {
    padding-left: 25px;
  }
}
@media (min-width: 1200px) {
  .c-address__googlemap {
    width: 70%;
    height: 50vh;
  }
}

.c-table__infoday {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  border-top: 1px solid #807c7c;
  border-bottom: 1px solid #807c7c;
}
@media (min-width: 600px) {
  .c-table__infoday {
    font-size: 2rem;
  }
}

.c-table__td {
  padding: 1.6vh 2.7vw;
}
@media (min-width: 600px) {
  .c-table__td {
    padding: 2vh 2.5vw;
  }
}
@media (min-width: 1200px) {
  .c-table__td {
    padding: 30px;
  }
}
@media (min-width: 600px) {
  .c-table__td-title {
    font-size: 2.2rem;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .c-table__td-title {
    font-size: 2.4rem;
  }
}

.c-card__img-02 {
  width: 100%;
}
@media (min-width: 600px) {
  .c-card__img {
    width: initial;
  }
}
.c-card__img img {
  height: 350px;
}
@media (min-width: 600px) {
  .c-card__img img {
    height: 550px;
    max-width: 658px;
  }
}
@media (min-width: 1200px) {
  .c-card__img img {
    max-width: 850px;
  }
}
.c-card__img-02 img {
  height: 350px;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 600px) {
  .c-card__img-02 img {
    height: 550px;
    max-width: 658px;
  }
}
@media (min-width: 1200px) {
  .c-card__img-02 img {
    max-width: 750px;
  }
}
.c-card__text {
  margin: 0 3vw;
  line-height: 3;
  letter-spacing: 2px;
  font-weight: bold;
}
.c-card__article {
  background: rgba(38, 87, 255, 0.7882352941);
  max-width: 658px;
  width: 100%;
}
@media (min-width: 1200px) {
  .c-card__article {
    width: 315px;
  }
}
.c-card__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .c-card__flex {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .c-card__flex-second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.c-card__flex-third {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 1200px) {
  .c-card__flex-third {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: flex-end;
  }
}

.c-flex__info, .c-flex__pricemenu, .c-flex__access {
  display: flex;
  align-items: center;
  padding-left: 3px;
  margin: 0 110px 40px 0;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-flex__info, .c-flex__pricemenu, .c-flex__access {
    width: 33vw;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .c-flex__info, .c-flex__pricemenu, .c-flex__access {
    width: 11vw;
  }
}
.c-flex__dayandtime {
  display: flex;
  align-items: center;
  padding-left: 3px;
  margin: 0 50px 40px 0;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-flex__dayandtime {
    width: 50vw;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .c-flex__dayandtime {
    width: 17vw;
  }
}
.c-flex__serviceflow {
  display: flex;
  align-items: center;
  padding-left: 3px;
  margin: 0 10px 40px 0;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-flex__serviceflow {
    width: 63vw;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .c-flex__serviceflow {
    width: 23vw;
  }
}
@media (min-width: 1200px) {
  .c-flex__address {
    display: flex;
  }
}
@media (min-width: 600px) {
  .c-flex__header {
    display: flex;
    margin-right: 15px;
    align-items: center;
  }
}
.c-flex__menuset {
  display: flex;
  justify-content: space-between;
}
.c-flex__reserve {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

.c-icon__header {
  width: 32px;
  height: 62px;
  transform: rotate(41deg);
  margin: 0 20px 0 45px;
}
.c-icon__scissors {
  width: 23px;
  height: 60px;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-icon__scissors {
    width: 23px;
    height: 60px;
  }
}
.c-icon__pole {
  width: 38px;
  height: 77px;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-icon__pole {
    width: 30px;
    height: 60px;
  }
}
.c-icon__chair {
  width: 69px;
  height: 69px;
  background: linear-gradient(92deg, #fff019, #fff);
}
@media (min-width: 600px) {
  .c-icon__chair {
    width: 60px;
    height: 60px;
  }
}

.c-icon__netreserve, .c-icon__telreserve {
  width: 70px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .c-icon__netreserve, .c-icon__telreserve {
    display: none;
  }
}
.c-icon__anime {
  display: none;
}
@media (min-width: 600px) {
  .c-icon__anime {
    display: block;
    width: 30px;
    position: fixed;
    top: 0;
    left: 1.5vw;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .c-icon__anime {
    width: 55px;
    position: fixed;
    top: 0;
    left: 80px;
    z-index: 1;
  }
}

.c-image__right {
  display: flex;
  justify-content: flex-end;
}
.c-image__right > img {
  width: 96px;
  height: 171px;
  transform: rotate(-129deg);
  margin: 30px 12vw -25px 0;
}
@media (min-width: 600px) {
  .c-image__right > img {
    width: 158px;
    height: 281px;
    transform: rotate(-129deg);
  }
}
.c-image__left > img {
  width: 96px;
  height: 171px;
  transform: rotate(-232deg);
  margin: 30px 0 -25px 13vw;
}
@media (min-width: 600px) {
  .c-image__left > img {
    width: 158px;
    height: 281px;
    transform: rotate(-232deg);
  }
}

.c-name {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.c-name__twoletters {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 40px;
  letter-spacing: 20px;
}
.c-name__threeletters {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 40px;
  letter-spacing: 15px;
}
.c-name__last {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 15px;
}

.c-price {
  color: white;
  font-size: 3.2rem;
  text-align: right;
  letter-spacing: -13px;
  margin-right: 11px;
  margin-bottom: 40px;
}
.c-price__last {
  color: white;
  font-size: 3.2rem;
  text-align: right;
  letter-spacing: -13px;
  margin-right: -20px;
}

.c-subtitle__address, .c-subtitle__tel {
  letter-spacing: 5px;
  position: relative;
}
.c-subtitle__address::after, .c-subtitle__tel::after {
  content: "";
  width: 90px;
  height: 4px;
  display: inline-block;
  background-color: #000000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.c-wrapper {
  margin: 10px -14.5px;
  padding: 45px 12vw 45px 4vw;
  background-color: black;
}
@media (min-width: 600px) {
  .c-wrapper {
    padding: 45px 12vw;
  }
}
@media (min-width: 1200px) {
  .c-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 45px 0 0;
    margin: 10px 50px;
  }
}

.fadeLeft {
  -webkit-animation-name: fadeLeftAnime;
          animation-name: fadeLeftAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 右から */
.fadeRight {
  -webkit-animation-name: fadeRightAnime;
          animation-name: fadeRightAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.c-fade__LeftTrigger,
.fadeRightTrigger {
  opacity: 0;
}

.p-content__info {
  width: 100%;
  padding: 30px 0 20px;
  background-color: #807c7c;
}

.p-mainvisual {
  margin: 20px 0 60px 0;
}
@media (min-width: 600px) {
  .p-mainvisual {
    margin-top: 0;
  }
}

.p-businessday {
  margin-bottom: 50px;
}

.p-info {
  margin-bottom: 50px;
}

.p-pricemenu {
  margin-bottom: 50px;
}

.p-serviceflow {
  margin-bottom: 50px;
}

.u-span {
  padding-left: 7px;
}
.u-span__last {
  padding-left: 12px;
}
/*# sourceMappingURL=style.css.map */