@use "./../../foundation/mixin" as *;

.c-address {
  @include breakpoint(pc) {
    padding-left: 25px;
  }
  &__googlemap {
    @include breakpoint(pc) {
      width: 70%;
      height: 50vh;
    }
  }
}
