@use "./../../foundation/mixin" as *;

.c-flex {
    &__info,    
    &__pricemenu,   
    &__access {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin:0 110px 25px 0;
    background: linear-gradient(92deg, #fff019, #fff);
    }

    &__dayandtime {
        display: flex;
    align-items: center;
    padding-left: 3px;
    margin:0 50px 25px 0;
    background: linear-gradient(92deg, #fff019, #fff);
    }

    &__serviceflow {
        display: flex;
        align-items: center;
        padding-left: 3px;
        margin:0 10px 25px 0;
        background: linear-gradient(92deg, #fff019, #fff);
    }

    &__header {
        @include breakpoint(tablet) {
            display: flex;

        }
    }

    &__menuset {
        display: flex;
        justify-content: space-between;
    }

    &__reserve {
        display: flex;
        justify-content: space-around;
    }
}
