@use "./../../foundation/mixin" as *;

.c-flex {
  &__info,
  &__pricemenu,
  &__access {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin: 0 110px 40px 0;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 33vw;
    }
    @include breakpoint(pc) {
      width: 25vw;
    }
  }

  &__dayandtime {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin: 0 50px 40px 0;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 50vw;
    }
    @include breakpoint(pc) {
      width: 30vw;
    }
  }

  &__serviceflow {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin: 0 10px 40px 0;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 63vw;
    }
    @include breakpoint(pc) {
      width: 40vw;
    }
  }

  &__address {
    @include breakpoint(pc) {
      display: flex;
    }
  }

  &__header {
    @include breakpoint(tablet) {
      display: flex;
      margin-right: 15px;
      align-items: center;
    }
  }

  &__menuset {
    display: flex;
    justify-content: space-between;
  }

  &__reserve {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
  }
}
