@use "./../../foundation/mixin" as *;

.c-icon {
  &__header {
    width: 32px;
    height: 62px;
    transform: rotate(41deg);
    margin: 0 20px 0 45px;
  }
  &__scissors {
    width: 35px;
    height: 82px;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 43px;
      height: 101px;
    }
  }
  &__pole {
    width: 38px;
    height: 77px;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 50px;
      height: 104px;
    }
  }
  &__chair {
    width: 69px;
    height: 69px;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet) {
      width: 115px;
      height: 115px;
    }
  }
}

.c-icon {
  &__netreserve,
  &__telreserve {
    width: 88.7px;
    height: auto;
    margin: 0 auto;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  &__anime {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      width: 30px;
      position: fixed;
      top: 0;
      left: 1.5vw;
      z-index: 1;
    }
    @include breakpoint(pc) {
      width: 55px;
      position: fixed;
      top: 0;
      left: 80px;
      z-index: 1;
    }
  }
}
