@use "./../../foundation/mixin" as *;

.c-icon {
    &__header {
    width: 52px;
    height: 92px;
    transform: rotate( 41deg );
   
}
&__scissors {
    width: 35px;
    height: 82px;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet){
        width: 75px;
        height: 176px;
    }
}
&__pole {
    width: 122px;
    height: 64px;
    margin:0 -40px 0 -46px;
    background: linear-gradient(92deg, #fff019, #fff);
    background-position-x: 40px;
    @include breakpoint(tablet){
        width: 145px;
        height: 125px;
    }
}
&__chair {
    width: 69px;
    height: 69px;
    background: linear-gradient(92deg, #fff019, #fff);
    @include breakpoint(tablet){
        width: 145px;
        height: 145px;
    }
}
}

.c-icon {
&__netreserve,
&__telreserve{
width: 50%;
height: auto;
margin: 0 auto;
@include breakpoint(tablet) {
    display: none;
}
}
}