@use "./../../foundation/mixin" as *;

.c-table {
  &__infoday {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-top: 1px solid #807c7c;
    border-bottom: 1px solid #807c7c;
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
  }
}

.c-table__td {
  padding: 1.6vh 2.7vw;
  @include breakpoint(tablet) {
    padding: 2vh 2.5vw;
  }
  @include breakpoint(pc) {
    padding: 30px;
  }
  &-title {
    @include breakpoint(tablet) {
      font-size: 2.2rem;
      padding-right: 60px;
    }
  }
  &-title {
    @include breakpoint(pc) {
      font-size: 2.4rem;
    }
  }
}
