@use "./../../foundation/mixin" as *;

.c-table {
  &__infoday {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-top: 1px solid #807c7c;
    border-bottom: 1px solid #807c7c;
    @include breakpoint(tablet) {
      font-size: 2.4rem;
    }
    & > tr:first-child,
    & > td:first-child {
      line-height: 1.4;
    }
    & > tbody > tr > td {
      padding: 10px 10px;
      @include breakpoint(tablet) {
        padding: 30px;
      }
    }
  }
   
    &__td {
      border-bottom: 1px solid #807c7c;
    }
    
  
}
