@use "./../../foundation/mixin" as *;

.c-text {
  &__info {
    padding-bottom: 15px;
    @include breakpoint(tablet) {
      margin-left: 11vw;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
    }
  }

  &__address,
  &__tel {
    letter-spacing: 6px;
    line-height: 2.5;
    margin-top: 10px;
    @include breakpoint(pc) {
      margin: 15px 0;
    }
  }

  &__netreserve,
  &__telreserve {
    letter-spacing: 2px;
    text-align: center;
  }
}

.c-text__tategaki {
  display: none;
  @include breakpoint(tablet) {
    display: block;
    position: absolute;
    font-size: 1.6rem;
    left: 1.5vw;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: "Hannari";
    white-space: nowrap;
    top: 70px;
  }
  @include breakpoint(pc) {
    position: absolute;
    left: 95px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: "Hannari";
    white-space: nowrap;
    top: 130px;
  }
}
