@use "./../../foundation/mixin" as *;

.c-title {
  letter-spacing: 3px;
  padding-left: 10px;

  &__serviceflow-01,
  &__serviceflow-02,
  &__serviceflow-03 {
    margin: 20px 0 15px;
    letter-spacing: 4.5px;
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 130px;
    border-top: 3px solid #000;
    @include breakpoint(pc) {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      margin-top: 1px;
      letter-spacing: 16px;
      padding: 1.5rem 8rem 1.5rem 156px;
      font-size: 2.4rem;
    }
    & span {
      font-size: 40px;
      font-size: 4rem;
      -ms-writing-mode: initial;
      writing-mode: initial;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      padding-top: 3px;
      padding-left: 1px;
      color: #fff;
      letter-spacing: -10px;
    }
  }
  &__serviceflow-01::before,
  &__serviceflow-02::before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    content: "";
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #000;
    @include breakpoint(pc) {
      width: 230px;
    }
  }

  &__serviceflow-03::before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    content: "";
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #000;
    @include breakpoint(pc) {
      width: 215px;
    }
  }

  &__shopname {
    margin: 32px 0 13px 0;
  }

  &__reserve {
    text-align: center;
    letter-spacing: 7px;
    padding-top: 5px;
    &::after {
      content: "";
      width: 3px;
      height: 70px;
      display: inline-block;
      background-color: #000000;
      position: absolute;
      bottom: 14px;
      left: 50%;
    }
  }
  &__netreserve,
  &__telreserve {
    font-size: 2rem;
    letter-spacing: 10px;
  }
}
