@use "./../../foundation/mixin" as *;

.p-logo {
  &__left {
    text-align: center;
  }
  &__title {
    font-size: 4rem;
    @include breakpoint(tablet) {
      font-size: 5rem;
      padding-left: 20px;
    }
    @include breakpoint(pc) {
      font-size: 6.8rem;
    }
  }
}
