@use "./../foundation/mixin" as *;

.l-header {
  display: none;
  @include breakpoint(tablet) {
    display: flex;

    height: 125px;
    align-items: center;
    justify-content: flex-end;
  }
}
